div.change-display button {
    background-color: #282c34;
    width: 200px;
    max-width: 32%;
    color: #dadada;
}

div.change-display button.selected {
    background-color: skyblue;
    border-bottom: 2px solid skyblue;
    color: black;
}