.App {
  text-align: center;
}

.logo-holder {
  margin: -10px -8px -10px -20px;
  padding: 0;
}

.helo {
  width: 50px;
  rotate: -45deg;
  display: inline-block;
  position: relative;
  z-index: 1;
  left: 50px;
}

.rotor {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 0 0;
  scale: calc(100/100);
  rotate: -45deg;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.App-logo {
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header span {
  display: inline-block;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

footer p {
  font-size: x-small;
}

.selected {
  border-style: inset;
  font-weight: bold;
}